@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;500;600;700&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Titillium Web', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.active > circle,
.active > path {
	fill: #e0e7ff;
}
.active-liked > circle,
.active-liked > path {
	fill: #f01d1d;
}
.active-seen > circle,
.active-seen > path {
	fill: #2d4bad;
}
